<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content" *ngIf="authService.user">

  <amplify-s3-image-ionic *ngIf="showLogo && authService.user.attributes['custom:logo']" [path]="authService.user.attributes['custom:logo']" [options]="{'level': 'public'}" (click)="showLogo = false"></amplify-s3-image-ionic>

  <amplify-photo-picker-ionic
    *ngIf="!showLogo"
    path="image"
    [storageOptions]="{'level': 'public'}"
    (picked)="onImagePicked($event)"
    (loaded)="onImageLoaded($event)"
    (uploaded)="onImageUploaded($event)"
  ></amplify-photo-picker-ionic>

  <div class="ion-padding-top">
    <ion-list>
      <ion-item (click)="showLogo = !showLogo">{{showLogo ? "Update Picture" : "Don't update Picture"}}</ion-item>
      <ion-item (click)="changePhone()">Change Phone Number</ion-item>
      <ion-item (click)="support()">Support</ion-item>
      <ion-item (click)="logout()">Logout</ion-item>
    </ion-list>
  </div>
</ion-content>
