<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content" *ngIf="authService.user">
  <ion-list>
  <amplify-s3-image-ionic *ngIf="showLogo && authService.user.attributes['custom:logo']" [path]="authService.user.attributes['custom:logo']" [options]="{'level': 'public'}" (click)="showLogo = false"></amplify-s3-image-ionic>


  <amplify-photo-picker-ionic
    *ngIf="!showLogo"
    path="image"
    [storageOptions]="{'level': 'public'}"
    (picked)="onImagePicked($event)"
    (loaded)="onImageLoaded($event)"
    (uploaded)="onImageUploaded($event)"
  ></amplify-photo-picker-ionic>


  <div class="ion-padding-top">
      <ion-button expand="block" color="secondary" (click)="showLogo = !showLogo">{{showLogo ? "Update Avatar" : "Cancel"}}</ion-button>

    <ion-button expand="block" color="secondary" (click)="changePhone()">Change Phone Number</ion-button>
  </div>

    <div class="ion-padding-top">


      <ion-button (click)="logout()" expand="block" color="#ffffff">
        <ion-icon name="cart" color="black" item-start></ion-icon>
        <font color="black">Logout</font>
      </ion-button>

  </div>
  </ion-list>
</ion-content>
